body {
  font-family: Arial, sans-serif;
  background-image: url(./img/fundo.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0px;
  background-color: #ffffff; /* Cinza claro para o fundo */
  color: #333; /* Cinza escuro para o texto */
}

header {
  background-color: #073d76; /* Azul */
  color: white;
  text-align: center;
  padding: 20px;
}
.titulo-atleta-favorito {
  margin-bottom: 12px;
}
.atleta-favorito {
  display: flex;
  justify-content: center;
  justify-items: center;

  margin-bottom: 20px;
}
.texto-atleta {
  width: 400px;
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.801);
  border-radius: 12px;
}

.titulo-outros {
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
}
.outros-atletas {
  display: flex;
  justify-content: center;
}
input[type="text"] {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  width: 370px;
  background-color: white;
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 1px;
  border-radius: 5px;
}

button {
  margin-top: 0;
  margin-bottom: 20px;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0091ff;

}

.rodape {
  display: flex;
  justify-content: center;
  justify-items: center;
  color: #ffffff;
  background-color: #007bff;
  margin-top: 20px;
  height: 20px;
  padding-bottom: 110px;
}
.texto-rodape {
  margin-top: 50px;
}

header,
main,
footer {
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}
